<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/jQuery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/underscore.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/backbone.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div id="search_container"></div>
		<div id="search_container2"></div>
	</body>
	<script type="text/template" id="search_template">
		<label><%=search_label%></label>
		<input type="text" id="search_input" />
		<input type="button" id="search_button" value="Search" />
	</script>
	<script type="text/template" id="search_label">
		<ul>
			<% _.each(labels, function(name) { %>
			<% if(name != "label2") {%>
			<li>
				<%= name %>
			</li>
			<% } %>
			<% }); %>
		</ul>
	</script>
	<script type="text/javascript">
		(function($) {
			var SearchView = window.SearchView = window.SearchView || {};
			SearchView = Backbone.View.extend({
				el: $("#search_container"),
				initialize: function() {
					this.render();
				},
				render: function() {
					//定义需要传递的参数
					var variables = {
						search_label: "My Search"
					};
					// 通过 Underscore 生成模板，同时传递参数
					var template = _.template($("#search_template").html());
					//生成的模板加载到 el 属性中
					this.$el.html(template(variables));
				},
				events: {
					"click input[type=button]": "doSearch"
				},
				doSearch: function(event) {
					// 当 button 被点击时触发 alert 
					alert("Search for " + $("#search_input").val());
				}
			});
			var search_view = new SearchView();
		})(jQuery);
		(function($) {
			var SearchView = Backbone.View.extend({
				el: "#search_container2",
				initialize: function() {
					var labels = ['label1', 'label2', 'label3'];
					this.render({
						labels: labels
					});
				},

				render: function(context) {
					//使用underscore这个库，来编译模板
					var template = _.template($("#search_label").html());
					//加载模板到对应的el属性中
					$(this.el).html(template(context));
				},

			});
			var searchView = new SearchView();
		})(jQuery);
	</script>

</html>